<form (submit)="submit()" [formGroup]="partyForm">
    <label>
        Event Name
        <input type="text" formControlName="event">
    </label>
    <label>
        Event Date
        <input type="date" formControlName="date">
    </label>
    <label>
        Description
        <textarea cols="30" rows="10" formControlName="desciption">
        </textarea>
    </label>

    <section class="btn-container">
        <button type="submit" ><span>Create Event</span></button>
    </section>
</form>
