<app-main-top-head></app-main-top-head>
<main>
  <article>
    <figure>
      <img src="../../../assets/party-card.jpg" alt="">
    </figure>
    <section class="card-body">
      <p class="date">{{partyDetail.date}}</p>
      <h1>{{partyDetail.event}}</h1>
      <br><br>
      <p>{{partyDetail.desciption}}</p>
      <section class="money">
        <h4>Dinero Acumulado</h4>
        <p>{{partyDetail.accumulated}}</p>
      </section>

      <section>
        <a class="btn" [routerLink]="guestForm"><span>Inscribirce</span></a>
      </section>
    </section>
  </article>
  <br>
  <br>
  <section class="guests">
    <app-guests [guest-list]="partyDetail.guestDtos"></app-guests>
  </section>
</main>
