<app-main-top-head></app-main-top-head>
<main>
  <article>
    <figure>
      <img src="../../../assets/party-card.jpg" alt="">
    </figure>
    <section class="card-body">
      <p class="date">15-02-200</p>
      <h1>Titulo del Evento</h1>
      <br><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta cupiditate, eligendi architecto, omnis labore aut cumque itaque facere impedit recusandae doloribus explicabo quaerat. Ipsam necessitatibus obcaecati nam repellendus enim architecto.</p>
      <section class="money">
        <h4>Dinero Acumulado</h4>
        <p>$ 3000</p>
      </section>

      <section>
        <a class="btn" routerLink="/join-party/1"><span>Inscribirce</span></a>
      </section>
    </section>
  </article>
  <br>
  <br>
  <section class="guests">
    <app-guests></app-guests>
  </section>
</main>
